<%- include("partials/header 2"); -%>
    <h1>Contact</h1>
    <footer class="footer1" style="cursor: pointer; margin-top:15rem;">
        <div class="links">
            <h1>Usefull Links</h1>
            <div class="lists">
            <ul>
                <li>About Us</li>
                <li>Awards</li>
                <li>Consultants</li>
                <li>Working Hours</li>  
                <li>FAQ's</li>
            </ul>
            <ul>
                <li>Services</li>
                <li>Qualifications</li>
            </ul>
            </div>
        </div>
        <div class="contact">
            <h1>Contact Details</h1>
            <li>┋Ҏ𝗹@𝐧𝔢ț✗,MNC 
            </li>
            <li>+91 8271228933</li>
            <li>Mon-Sat: 9am to 18pm</li>
        </div>
        <div class="appoint">
            <h1>Contact Us</h1>
            <form action="">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
                <input type="text" placeholder="Your Message..">
                <input type="submit" value="SUBMIT" id="s-u-b">
            </form>
        </div>
    </footer>
<%- include("partials/footer 2"); -%>
